
#feedback {
    position: absolute;
    right: 0;
    /* bottom: -21px; */
    min-height: 250px;
    float: right;
    top: 102px;
}

#feedback-form {
  float: right;
  width: 300px;
  height: 480px;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 5px;
  background-clip: 'padding-box';
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#feedback-tab {
    float: right;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    width: 160px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 55px;
    padding-top: 10px;
    margin-right: -56px;
   font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
   color: #fed136;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#feedback-tab:hover { 
	background-color: rgba(0,0,0,0.4); 
	}

#feedback-form textarea { 
	resize: none; 
	}

/* #feedback-form form {
    margin-top: 30px;
} */
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.69)!important;
}

.submit_complete{
	display: none;
	margin-top: 100px;
	color: #5f55c1;
	text-align: center;
	}
	
.submit_complete p{
	font-size: 23px;
	}
#contact #feedback{
	position: relative;
	float: none;
	top: 0px;
	}

#contact #feedback-form{
	width: 100%;
	border: none;
	box-shadow: none;
	height: auto;
	}

#contact #feedback-form	input#ss-submit {
    /* text-align: center; */
    margin: 0 auto;
    display: block;
}
#contact #feedback-form.panel{
	background-color: transparent !important;
	}
#contact  h3.section-subheading.text-muted{
	margin-bottom: 22px;
	}
.fa_ginormous{
	font-size: 12em;
	}
#contact #feedback-form .submit_complete p{
	font-size: 6px;
	}
#contact .submit_complete {
    width: 52%;
    margin: 0 auto;
	color: #FFF;
}
#contact .form-control{
	color: #5F55C1;
	}
section#contact .form-group input.form-control::placeholder {
    color: #9c99be;
	opacity: .7;
}
section#contact .form-group textarea.form-control::placeholder {
    color: #9c99be;
	opacity: .7;
}