/***********************************************************************************
*   Virginia Department of Social Services                                         *
*   Designed and Developed by Jacques Walker                                       * 
*   Utilized: Bootstrap framework                                                  *
*   Contact: webdev [at] dss.virginia.gov                                          *
*   Copyright 2019                                                                 *
***********************************************************************************/

a {
	color: #955BA5;
}

a:hover{
	text-decoration: none;
}

h2 {
    border-top: 1px solid RGB(0,0,0,0.1);
    padding-top: 5px;
}

.state-header {
    background-color: #000;
    color: #FFF;
    min-height: 35px;
    padding-top: 3px;
	}
.state-header a{
	color: #FFF;
	text-decoration: none;
	}
.state-header a:hover{
	color: #CCC;
	text-decoration: none;
	}
.state-header a.nav-brand img {
    margin-right: 8px;
    margin-top: -3px;
}
.vdss, .COV{
	margin-top: 2px;
}
.navbar{
 border-bottom: 1px solid #DDD;
 margin-top: 35px;
 }
 .navbar-nav {
    text-transform: uppercase;
    font-size: 15px;
}
.navbar-nav a{
	color: #777;
	}
	
.navbar-nav a:hover{
	color: #2d95bf;
	}
	
.navbar-brand img.img {
    border: 1px solid #eee;
    margin-right: 8px;
    padding: 2px;
}
a.navbar-brand{
	color: #0056b3;
}
a:hover.navbar-brand{
	color: #007bff;
}


.search-bar {
    margin-top: 36px;
    background-color: #f0c419;
    padding: 12px;
	display: none;
}
.translate-bar {
    margin-top: 36px;
    background-color: #2d95bf;
    padding: 12px;
    display: none;
	color: #FFF;
}
.goog-te-gadget {
    color: #FFF;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    color: #FFF;
}
.form-group{
	margin-left: 10%;
	}
.carousel-item {
    height: 79vh;
	}
.carousel-inner{
	overflow: visible
	}
/* .carousel-shading{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: RGB(0,0,0,0.4);
    bottom: 0px;
    z-index: 1;
} */
.carousel-shading {
    width: 50%;
    height: 58px;
    position: absolute;
    background-color: RGB(0,0,0,0.4);
    bottom: 105px;
    z-index: -1;
    margin-left: -57px;
}
.carousel-caption {
    position: absolute;
    bottom: -105px;
    left: 6%;
    color: #006699;
    text-align: left;
    padding-left: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.carousel-caption h1 {
    margin-bottom: 0px;
    border-left: 5px solid #DDD;
    padding-left: 6px;
    padding-bottom: 15px;
	color: #FFF;
}
.carousel-caption p {
    margin-left: 14px;
    margin-top: -17px;
	font-size: 20px;
}
.call-in h2{
	border-top: none;
}
.push-down{
	margin-top: 125px;
	}
.card-title.callout {
    margin-top: -61px;
    color: #FFF;
    background-color: RGB(0,0,0,0.3);
    width: 27%;
    padding: 6px 3px 6px 7px;
    margin-left: -9px;
}
.ff-supports h4.card-header{
	color: #955BA5;
	}
.ff-upholds h4.card-header{
	color: #F1712A;
	}
.ff-invests h4.card-header{
	color: #4EBA6F;
	}
	
.ff-pillars h2 {
    margin-bottom: 20px;
}
.ff-pillars {
    margin-top: 53px;
    margin-bottom: 35px;
}
.ff-pillars img.pillar-icon {
    width: 65px;
    margin-right: 9px;
}
.ff-pillars .card-header{
	background-color: transparent;
	border: none;
	padding: .25rem 1.25rem;
	}
.ff-pillars .card-body {
    padding: 0 1.25rem;
}
.ff-pillars .card{
	border: none;
}

.news-reel .btn-primary {
    color: #955BA5;
    background-color: transparent;
    border-color: #955BA5;
}
.news-reel .btn-primary:hover{
	color: #FFF;
	background-color: #955BA5;
}
	
.news-reel h4 {
    font-size: 1.2rem;
    margin-bottom: 3px;
}
.news-reel p {
    font-size: 13px;
}
.news-reel .col-md-8 {
    padding-left: 0;
}
.action-call{
	border-right: 1px solid RGB(0,0,0,0.2);
	}	
	
	
.ribbon {
    border-top: 3px solid #777;
    border-bottom: 3px solid #777;
    min-height: 270px;
    padding-top: 54px;
    margin: 15px 0;
    width: 100%;
    background-color: #8c232d;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}
.ribbon .col-md-2{
    border: 1px solid;
    margin: 0px 8px;
    min-height: 160px;
    padding-top: 16px;
}
.i_am {
    margin-top: -24px;
}

.i_am h2 {
    padding-top: 63px;
	font-size: 60px;
}
.ribbon a{
	color: #FFF;
	}
.ribbon a:hover{
	font-weight: 500;
	text-decoration: none;
	}
	
footer{
    padding-top: 73px;
}
.contact-info{
	background-color: #b5b5b5;
	overflow: auto;
	}
.contact-info .brand{
	 border-right: 2px solid #c5c5c5;
	 background-color: #c7c7c7;
	}	
.contact-info p{	
	margin-top: 18px;
	}
.vdss-banner{
	background-color: #242424;
	width: 100%;
	height: 50px;
	}
.vdss-banner .logo{
    margin-top: 11px;
}
.vdss-title, .vdss-title a {
    color: #FFF;
    font-size: 21px;
    padding-top: 12px;
    margin-left: 7px;
    font-weight: normal;
}
.vdss-title a:hover{
	color: #68b8fe;
	text-decoration: none;
	}
.soc-icons{
	padding-top: 10px;
	}
.soc-icons a {
    margin: 0 11px;
	opacity: 0.7;
}
.soc-icons a:hover{
	opacity: 1;
}
.copyright{
	font-size: 12px;
}
	
@media (min-width: 1346px){
	.carousel-caption{
		bottom: -108px;
		}
	.carousel-shading{
		bottom: 108px;
		}	
}	

@media (max-width: 1136px){
	.carousel-caption{
		bottom: -136px;
		}
	.carousel-shading{
		bottom: 136px;
		}	
}
	
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.8rem;
		padding-left: .8rem;
	}
}
@media (max-width: 884px){
	.carousel-caption{
		bottom: -124px;
		}
	.carousel-caption p{
		font-size: 18px;
		}
	.carousel-shading{
		bottom: 124px;
		}	
}