@CHARSET "US-ASCII";

/********************************************************************************
*   Office of Newcomers Services                                                *
*   Designed and Developed by Jacques Walker                                    *
*   Copyright 2015                                                              *
********************************************************************************/

/*Imports*/
@import url(http://fonts.googleapis.com/css?family=Muli:300);

/*New Styles*/


/*Style Overrides*/
body{
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	}
header {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    right: 14px;
    text-transform: uppercase;
    z-index: 1;
	line-height: 18px;
	top: 10px;
	text-align: right;
	font-family: Helvetica, Arial, sans-serif;
}
header small{	
	font-size: 15px;
	font-weight: normal;
	}
nav {
    left: 0px;
    position: absolute !important;
	}
.nav hr{
	margin: 3px 5px;
	color: #ccc !important;
	border-style: inset;
	}
.navbar-brand{
	float: none;
	padding: 0;
	}
.navbar-brand img{
	width: 48px;
	padding-bottom: 6px;
	}
.navbar-wrapper{
	margin-top: 0;
	}
.navbar-inverse{
	color: #FFF;
	background: url('../img/nav_back.png') center center repeat transparent;
	border-bottom: none;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}
.navbar-inverse .navbar-nav  li  a {
    color: #fff;
}
.navbar-inverse .navbar-nav  li  a:hover{
    background-color: #000;
}
.dropdown-menu a {
    color: #000 !important;
}
.dropdown-menu a:hover {
	color: #FFF !important;
	}
.navbar-nav > li {
    float: none;
}
.navbar-nav li a{
	padding: 3px 5px 3px 13px;
	margin-bottom: 3px;
	}
.navbar-wrapper .navbar {
    border-radius: 0px;
}
.navbar-wrapper .container {
    padding-left: 2px;
    padding-right: 2px;
}
.navbar-collapse{
	margin-right: -27px;
	margin-left: -15px;
	}
.caret{
	margin-left: 0px;
    margin-top: -14px;
	}
.dropdown-toggle, .servname {
    height: 43px;
}
.carousel .item {
    /*height: 100vh;*/
	height: 540px;
}
.carousel-caption{
	width: 100%;
	text-align: left;
	background: url('../img/page_title.png') repeat center center transparent;
	left: 0;
	padding-left: 25px;
	bottom: 0;
	text-shadow: none;
	font-weight: lighter;
	text-transform: uppercase;
	padding-bottom: 0px;
	padding-top: 0px;
	border-top: 2px solid #dfdfdf;
	}
.carousel-caption h1{
	line-height: 26px;
	}
.carousel-caption h1 small{
	color: #FFF;
	text-transform: capitalize;
	}
.img1{
	background: url('../../images/congo_refugee.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.container.marketing {
    margin-top: 25px;
}
/* CSS for nav popouts */
.homename, .calname, .statname, .filename, .empname, .servname, .translate{
    background: transparent url("../img/popout.png") repeat scroll center center;
    color: #fff;
    height: 35px;
    left: 43px;
    padding: 2px 0 2px 13px;
    position: absolute;
    top: 0;
    width: 180px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	opacity: 0;
	}
.show{
	opacity: 1;
	}
/* End CSS for nav popouts */
.home_head{
	border-top: 1px solid #9c9b9b;
	border-bottom: 1px solid #9c9b9b;
	text-transform: uppercase;
	color: #474747;
	font-size: 28px;
    padding: 5px 0;
	}
/* CSS for upcoming events */
.event{
	clear: both;
	padding: 20px 0;
	}
.col-sm-4 div.event:first-of-type{
	padding-top: 0;
	}
.date {
    width: 48px;
	margin-right: 7px;
	font-size: 18px;
}
.event_title{
	width: 81%;
	text-transform: uppercase;
	font-size: 18px;
	}
.month{
	color: #FFF;
	background-color: #474747;
	text-align: center;
	text-transform: uppercase;
	}
.day{
	color: #FFF;
	background-color: #ed1c24;
	text-align: center;
	}
/* CSS for RSS Reader */
.fa-rss{
	color: #ef6500;
	}
.rssBody li {
    list-style: outside none none;
    margin-left: -39px;
    padding-left: 0;
	}
.vdss_shoutout{
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 40px;
	border-top: 3px solid #2882C8;
	}
.vdss_shoutout a{	
	color: #FFF;
	display: block;
    padding-top: 4px;
	}
.vdss_shoutout a:hover{
	color: #CCC;
	text-decoration: none;
	}
.vdss_shoutout img{
	margin: 2px 8px 5px;
	}
footer{
	height: 200px;
	background: url('../img/footer.jpg') center top repeat-x transparent;
	padding-top: 30px;
	}