@CHARSET "US-ASCII";

/********************************************************************************
*   Office of Newcomers Services                                                *
*   Designed and Developed by Jacques Walker                                    *
*	Utilized: Bootstrap, zrssfeed plugin, back_to_top scroll plugin             *
*   Copyright 2015                                                              *
********************************************************************************/

/*Imports*/
@import url(http://fonts.googleapis.com/css?family=Muli:300);
@import "back_to_top.css";

/*New Styles*/


/*Style Overrides*/
body{
	font-family: 'Muli', Helvetica, Arial, sans-serif;
	min-width: 375px;
	}
header {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    padding-right: 14px;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
	line-height: 18px;
	top: 10px;
	text-align: right;
	font-family: Helvetica, Arial, sans-serif;
	min-width: 375px;
	right: 0px;
}
header small{	
	font-size: 15px;
	font-weight: normal;
	}
nav {
    left: 0px;
    position: absolute !important;
	}
table thead td{
	background-color: #337ab7;
	color: #FFF;
	}
table thead tr{
	border: 2px solid #337ab7;
	}
img.pull-left{
	margin: 0 15px 15px 0;
	}
img.pull-right{
	margin: 0 0 15px 15px;
	}
a{
	cursor: pointer;
	}
.nav hr{
	margin: 3px 5px;
	color: #ccc !important;
	border-style: inset;
	}
.navbar-brand{
	float: none;
	padding: 0;
	}
.navbar-brand img{
	width: 48px;
	padding-bottom: 6px;
	}
.navbar-wrapper{
	margin-top: 0;
	}
.navbar-inverse{
	color: #FFF;
	background: url('../img/nav_back.png') center center repeat transparent;
	border-bottom: none;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}
.navbar-inverse .navbar-nav  li  a {
    color: #fff;
}
.navbar-inverse .navbar-nav  li  a:hover{
    background-color: #000;
}
.dropdown-menu a {
    color: #000 !important;
	min-width: 223px;
}
.dropdown-menu a:hover {
	color: #FFF !important;
	}
.navbar-nav > li {
    float: none;
}
.navbar-nav li a{
	padding: 3px 5px 3px 13px;
	margin-bottom: 3px;
	}
.navbar-wrapper .navbar {
    border-radius: 0px;
}
.navbar-wrapper .container {
    padding-left: 2px;
    padding-right: 2px;
}
.navbar-collapse{
	margin-right: -27px;
	margin-left: -15px;
	}
.caret{
	margin-left: 0px;
    margin-top: -14px;
	}
.dropdown-toggle, .servname {
    height: 43px;
}
.carousel .item {
    /*height: 100vh;*/
	height: 563px;
}
.carousel-caption{
	width: 100%;
	text-align: left;
	background: url('../img/page_title.png') repeat center center transparent;
	left: 0;
	padding-left: 25px;
	bottom: 0;
	text-shadow: none;
	font-weight: lighter;
	text-transform: uppercase;
	padding-bottom: 0px;
	padding-top: 0px;
	border-top: 2px solid #dfdfdf;
	}
.carousel-caption h1{
	line-height: 29px;
	}
.carousel-caption h1 small{
	color: #FFF;
	text-transform: capitalize;
	}
.quicklinks{
	margin-top: 20px;
	}
.quicklinks a{
	color: #fbd950;
	padding-right: 16px;
	}
.quicklinks a:hover{
	color: #CCC;
	text-decoration: none;
	}
.img1{
	background: url('../../images/world_pic.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img2{
	background: url('../../images/eastern_chad_refugee.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img3{
	background: url('../../images/child_foil.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img4{
	background: url('../../images/handshake.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img5{
	background: url('../../images/thumbsup.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img6{
	background: url('../../images/handshake.jpg') center center no-repeat transparent;
	background-size: cover;
	}
.img7{
	background: url('../../images/handshake.jpg') center center no-repeat transparent;
	background-size: cover;
	}	
.img8{
	background: url('../../images/handshake.jpg') center center no-repeat transparent;
	background-size: cover;
	}	
.container.marketing {
    margin-top: 25px;
	min-height: 410px;
}
/* CSS for nav popouts */
.homename, .aboutname, .servname, .agencyname, .resourcename, .calname, .statname, .termname, .contactname,  .translate, .messagename, .partname{
    background: transparent url("../img/popout.png") repeat scroll center center;
    color: #fff;
    height: 35px;
    left: 43px;
    padding: 5px 0 2px 13px;
    position: absolute;
    top: 0;
    min-width: 160px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	opacity: 0;
	}
.show{
	opacity: 1;
	}
.tall{
	height: 43px;
	}
.long{
	width: 197px;
	}
/* End CSS for nav popouts */
.home_head{
	border-top: 1px solid #9c9b9b;
	border-bottom: 1px solid #9c9b9b;
	text-transform: uppercase;
	color: #474747;
	font-size: 28px;
    padding: 5px 0;
	}
/* CSS for upcoming events */
.event{
	clear: both;
	padding: 20px 0;
	}
.event a:hover{
	text-decoration: none;
	}
.col-sm-4 div.event:first-of-type{
	padding-top: 0;
	}
.date {
    width: 48px;
	margin-right: 7px;
	font-size: 18px;
	margin-bottom: 9px;
}
#cal_rss .rssRow.odd > h4, #cal_rss .rssRow.even > h4 {
    left: 74px;
    position: absolute;
}
#cal_rss .rssBody li{
	clear: both;
	}
.event_title, #cal_rss h4{
	width: 81%;
	text-transform: uppercase;
	font-size: 18px;
	}
.month{
	color: #FFF;
	background-color: #474747;
	text-align: center;
	text-transform: uppercase;
	}
.day{
	color: #FFF;
	background-color: #ed1c24;
	text-align: center;
	}
.sorthead{
	cursor: pointer;
	color: #FFF;
	}
a:hover.sorthead{
	color: #CCC;
	text-decoration: none;
	}
.ng_table{
	border: 2px solid #959595;
	padding-top: 15px;
	}
.input-group-addon {
    background-color: #006699;
    border: 1px solid #006699;
    color: #fff;
}
/* CSS for RSS Reader */
.fa-rss{
	color: #ef6500;
	}
.rssBody li {
    list-style: outside none none;
    margin-left: -39px;
    padding-left: 0;
	}
.vdss_shoutout{
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 40px;
	border-top: 3px solid #2882C8;
	padding-bottom: 2px;
	}
.vdss_shoutout a{	
	color: #FFF;
	display: block;
    padding-top: 4px;
	}
.vdss_shoutout a:hover{
	color: #CCC;
	text-decoration: none;
	}
.vdss_shoutout img{
	margin: 2px 8px 5px;
	width: 59px;
	}
.vdss_shoutout .col-md-11 > p {
    font-size: 15px;
    font-style: italic;
    text-transform: none;
}
.soc_media {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    /* width: 340px; */
	width: 271px
}
.soc_media .fa-rss{
	color: #FFF;
	font-size: 2.6em;
	padding-top: 8px;
	display: none;
	}
.soc_media .fa-rss:hover{
	color: #ef6500;
	}
.soc_media a{
	color: #FFF;
	padding: 0 20px;
	}
.soc_media i.fa-facebook{
	background-color: #9a9a9a;
	
	}
.soc_media a i.fa-facebook:hover{
	color: #3c5a99;
	}
.soc_icon{
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
	float: left;
	margin: 0 20px;
	}
a.facebook {
    background: transparent url('../../images/facebook.png') no-repeat scroll center center;
	}
a.facebook:hover{	
	background-image: url('../../images/facebook_color.png');
	}
a.twitter {
    background: transparent url('../../images/twitter.png') no-repeat scroll center center;
	}
a.twitter:hover{	
	background-image: url('../../images/twitter_color.png');
	}
a.youtube {
    background: transparent url('../../images/youtube.png') no-repeat scroll center center;
	}
a.youtube:hover{	
	background-image: url('../../images/youtube_color.png');
	}
.footer_break{
	border-top: 1px solid #404040;
	width: 80%;
	}
.vdss_break{
	width: 97%;
	margin-top: 3px;
	margin-bottom: 3px;
	}
footer p{
	text-align: center;
	}
footer{
	height: 200px;
	background: url('../img/footer.jpg') center top repeat-x transparent;
	padding-top: 30px;
	}
/* Interior Page Mods */
.interior .carousel-caption h1 small {
	text-transform: none;
}
.interior .carousel .item {
    /*height: 100vh;*/
	height: 400px;
}
.interior header{	
	left: 14px;
	position: absolute;
	text-align: left;
}
.interior nav{
	top: 60px;
}
.interior .navbar-nav > li {
    float: left;
}
.interior .navbar-nav li a {
    margin-bottom: 0;
    padding: 14px 7px 14px 9px;
}
.interior .navbar-wrapper .navbar .container {
    width: 490px;
}
.interior .navbar-brand > img {
    display: block;
    float: left;
    margin: 4px 4px 0;
}
.interior .navbar-wrapper .navbar .container {
	padding-right: 0;
}
.interior .navbar-inverse {
    border-bottom: none;
    border-right: none;
}

.interior .homename, .interior .aboutname, .interior .servname, .interior .agencyname, .interior .resourcename, .interior .calname, .interior .statname, .interior .termname, .interior .contactname, .interior .translate, .interior .messagename, .interior .partname{
	left: 0;
	top: 57px;
}
.interior .dropdown-toggle {
    height: 57px;
}
.interior .dropdown-menu{
	top: 91px;
	}
.interior .trans > a > i {
    padding: 0 5px;
}
.clear{
	clear: both;
	float: none;
	}
/* Media Queries */
@media (max-width: 991px){
	.vdss_break{	
		display: none;
		}
}
@media (max-width: 767px){
	.event:last-of-type{
		margin-bottom: 40px;
	}
	.interior nav{
		top: 0;
	}
	.interior .navbar-brand > img {
		margin: 4px 9px 0;
	}
	.navbar-brand img {
		margin-left: 15px;
	}
	.navbar-nav {
		margin: 7.5px -15px 7.5px 2px;
	}
	.navbar-toggle{
		float: none;
	}
	.interior .navbar-inverse .navbar-toggle {
		margin-left: 4px;
	}
	.interior .navbar-nav li a {
		padding: 4px 8px 4px 20px;
		width: 71px;
	}
	.navbar-inverse .navbar-toggle {
		border-color: transparent;
		margin-left: 9px;
		margin-right: 4px;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{	
		background-color: transparent;
	}
	.navbar-collapse {
		padding-left: 0;
	}
	.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
		margin-left: -17px;
	}
	.interior .navbar-nav {
		margin: 7.5px 0;
	}
	.interior .navbar-wrapper .navbar .container {
		width: 41px;
	}
	.navbar-nav .open .dropdown-menu {
    background-color: #fff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
	color: #ccc;
	}
	ul.nav li a{
		padding-left: 25px;
	}
	.icon-bar {
		margin-left: 10px;
	}
	header{
		background-color: #000;
		clear: both;
		display: block;
		margin-top: -10px;
		padding: 13px 12px;
		border-bottom: 3px solid #2882c8;
		width: 100%;
	}
	.interior header{
		left: 0;
	}
	header small{	
		display: block;
		line-height: 21px;
	}
	.navbar-wrapper {
		top: 68px;
	}
	.homename, .aboutname, .servname, .agencyname, .resourcename, .calname, .statname, .termname, .contactname, .translate, .messagename, .partname, .show {
		display: none !important;
	}
}
@media (max-width: 550px){
	header{
		background-color: #000;
		clear: both;
		display: block;
		line-height: 29px;
		margin-top: -10px;
		padding: 13px 12px;
		border-bottom: 3px solid #2882c8;
		font-size: 21px;
		padding-top: 0px;
	}
	header small{	
		display: block;
		line-height: 21px;
		font-size: 59%;
	}
	.navbar-wrapper {
    top: 66px;
	}
	/*.vdss_shoutout {
		padding-bottom: 24px;
		line-height: 3px;
		text-align: right;
	}*/
	.carousel-caption h1 {
		line-height: 30px;
		font-size: 31px;
	}
}
@media (max-width: 499px){
	.navbar-wrapper {
		top: 129px;
	}
}
@media (max-width: 336px){
	.event:last-of-type{
		margin-bottom: 95px;
	}
}
